body{
	color: #555555;
	font-family: "Roboto Slab", sans-serif;
	font-size: 14px;
	line-height: 1px;
}

.wrapper {
	max-width: 1150px;
	width: 100%;
	margin: 0 auto;
	padding: 0 10px;
}

h1 {
	color: #ffffff;
	font-size: 45px;
	font-weight: 300;
	line-height: 60px;
	margin-bottom: 90px;
}	


h1 .top{
	font-family: "Montserrat", sans-serif;
	font-size: 48px;
	font-weight: 400;
	line-height: 40px;
	text-transform: uppercase;
	display: block;
}

h1 .bottom{
	font-family: "Montserrat", sans-serif;
	color: #ffffff;
	font-size: 20px;
	font-weight: 100;
	line-height: 24px;
}

/*butons----------------------------*/

.btn{
	display: inline-block;
	vertical-align: middle;
	width: 180px;
	height: 50px;
	border-radius: 2px;
	border: 2px solid #ffffff;
	padding: 11px 30px;
	color: #ffffff;
	font-family: "Montserrat", sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	text-transform: uppercase;
}

.btn:hover{
	border: 2px solid rgba(255, 255, 255, 0);
}

/*header--------------------------------------*/

header {
	position: absolute;
	top: 40px;
	left: 0;
	right: 0;
	z-index: 99;
}

.header-wrap{
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.logo a{
	font-family: 'Montserrat', sans-serif;
	color: #ffffff;
	font-size: 24px;
	font-weight: 700;
}

.menu{
	list-style: none;
	display: flex;
}

.menu-item {
	margin-left: 35px;
	position: relative;
}

.menu-item:hover .menu-link{
	color: #111111;
	font-weight: 500;
}

.menu-link{
	color: #ffffff;
	font-family: 'Montserrat', sans-serif;
}

/*banner-------------------------------*/

.banner{
	padding-top: 320px;
	padding-bottom: 360px;
	height: 770px;
	text-align: center;
	background: url("../img/banner.png") no-repeat center top; 
}

/*title-------------------------------*/

.title-wrap{
	text-align: center;
	color: #555555;
	margin:100px auto 70px;
	background-color: #fff;
}

.section-name{
	font-family: "Montserrat", sans-serif;
	font-size: 20px;
	font-weight: 400;
	line-height: 24px;
	text-transform: uppercase;
}

.section-name:after{
	content: "";
	display: block;
	width: 50px;
	height: 2px;
	margin: 25px auto 25px;
	background-color: #555555;
}


.section-text{
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
}


/*Services-------------------------------*/

.services-wrap{
	display: flex;
	text-align: center;
	margin: 0 -25px;
}

.service_item{
	padding: 0 20px;
}

.service_item{
	display: block;
	justify-content: center;
	text-align: center;
}

.service_item_icon{
	width: 90px;
	height: 90px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex: none;
	border: 2px solid #dddddd;
	background-color: #ffffff;
	border-radius: 50%;
	margin: 0 auto 30px;
}

.service_item_icon [class*="icon"]:before{
	font-size: 40;
	color: #c0301c;
}

.service_item:hover .service_item_icon{
	background-color: #c0301c;
	border-color: #c0301c;
	transition: all 0.8s;
}
.service_item:hover .service_item_icon [class*="icon"]:before{
	color: #fff;
	transition: all 0.3s;
}


.service_item_icon span{
	font-size: 40px;
	color: #c0301c;
}


.service_item .title {
	color: #555555;
	font-family: "Montserrat", sans-serif;
	font-size: 14px;
	font-weight: 600;
	line-height: 24px;
	text-transform: uppercase;
}

.service_item p{
	margin-top: 20px;
	color: #737373;
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
}

/*about-----------------------------------------*/

.about .title-wrap{
	background-color: #f8f8f8;
	padding: 100px;
}

.about {
	background-color: #f8f8f8;
}

.about-text{
	display: flex;
	color: #555555;
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
	justify-content: center;
	margin-top: -70px;
}

.left-text{
	margin-right: 12px;
}

.right-text{
	margin-left: 12px;
}


.team-slider{
	margin-top: 70px;
}

.team-list{
	display: flex;
	justify-content: space-between;
}

.worker{
	display: block;
	justify-content: center;
	text-align: center;
}

.worker-social{
	position: relative;
}

.worker .socials-wrap{
	position:absolute;
    left:0;
    bottom:0;
    right:0;
    top:0;
    background:rgba(255,255,255, 0.7);
    padding:5px;
/*    display:none;*/
}


.worker img{
	width: 263px;
	height: 250px;
	margin-bottom: 20px;
}

.worker-title{
	color: #555555;
	font-family: "Montserrat", sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
	text-transform: uppercase;
}

.worker p{
	color: #555555;
	font-size: 13px;
	font-weight: 400;
	line-height: 24px;
}


