body{
	color: #555555;
	font-family: "Roboto Slab", sans-serif;
	font-size: 14px;
	line-height: 1px;
}

.wrapper {
	max-width: 1150px;
	width: 100%;
	margin: 0 auto;
	padding: 0 10px;
}

h1 {
	color: #ffffff;
	font-size: 45px;
	font-weight: 300;
	line-height: 60px;
	margin-bottom: 90px;
}	


h1 .top{
	font-family: "Montserrat", sans-serif;
	font-size: 48px;
	font-weight: 400;
	line-height: 40px;
	text-transform: uppercase;
	display: block;
}

h1 .bottom{
	font-family: "Montserrat", sans-serif;
	color: #ffffff;
	font-size: 20px;
	font-weight: 100;
	line-height: 24px;
}

/*butons----------------------------*/

.btn{
	display: inline-block;
	vertical-align: middle;
	width: 180px;
	height: 50px;
	border-radius: 2px;
	border: 2px solid #ffffff;
	padding: 11px 30px;
	color: #ffffff;
	font-family: "Montserrat", sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	text-transform: uppercase;
}

.btn:hover{
	border: 2px solid rgba(255, 255, 255, 0);
}

/*header--------------------------------------*/


header {
	position: absolute;
	top: 40px;
	left: 0;
	right: 0;
	z-index: 9999;
}


#header.default{
	height: 40px;
	width: 100%;
	margin-left: -110px;
	position: fixed;
	top: 0;
	background: #fff;

}

#header.default a{
	color: #555555;
}

#header.default a:hover{
	color: #c0301c;
}

#header.default .navigation {
	margin-right: 110px;
}

#header.default .logo {
	margin-left: 110px;
}

.header-wrap{
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.logo a{
	font-family: 'Montserrat', sans-serif;
	color: #ffffff;
	font-size: 24px;
	font-weight: 700;
}

.menu{
	list-style: none;
	display: flex;

}

.menu-item {
	margin-left: 35px;
	position: relative;
}

.menu-item:hover .menu-link{
	color: #111111;
	font-weight: 500;
}

.menu-link{
	color: #ffffff;
	font-family: 'Montserrat', sans-serif;
}

/*banner-------------------------------*/

.banner{
	padding-top: 320px;
	padding-bottom: 360px;
	height: 770px;
	text-align: center;
	background: url("../img/banner.png") no-repeat center top; 
}

/*title-------------------------------*/

.title-wrap{
	text-align: center;
	color: #555555;
	margin:100px auto 70px;
	background-color: #fff;
}

.section-name{
	font-family: "Montserrat", sans-serif;
	font-size: 20px;
	font-weight: 400;
	line-height: 24px;
	text-transform: uppercase;
}

.section-name:after{
	content: "";
	display: block;
	width: 50px;
	height: 2px;
	margin: 25px auto 25px;
	background-color: #555555;
}


.section-text{
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
}


/*Services-------------------------------*/

.services-wrap{
	display: flex;
	text-align: center;
	margin: 0 -25px;
}

.service_item{
	padding: 0 20px;
}

.service_item{
	display: block;
	justify-content: center;
	text-align: center;
}

.service_item_icon{
	width: 90px;
	height: 90px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex: none;
	border: 2px solid #dddddd;
	background-color: #ffffff;
	border-radius: 50%;
	margin: 0 auto 30px;
}

.service_item_icon [class*="icon"]:before{
	font-size: 40;
	color: #c0301c;
}

.service_item:hover .service_item_icon{
	background-color: #c0301c;
	border-color: #c0301c;
	transition: all 0.8s;
}
.service_item:hover .service_item_icon [class*="icon"]:before{
	color: #fff;
	transition: all 0.3s;
}


.service_item_icon span{
	font-size: 40px;
	color: #c0301c;
}


.service_item .title {
	color: #555555;
	font-family: "Montserrat", sans-serif;
	font-size: 14px;
	font-weight: 600;
	line-height: 24px;
	text-transform: uppercase;
}

.service_item p{
	margin-top: 20px;
	color: #737373;
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
}

/*about-----------------------------------------*/

.about .title-wrap{
	background-color: #f8f8f8;
	padding: 100px;
}

.about {
	background-color: #f8f8f8;
	padding-bottom: 100px;
}

.about-text{
	display: flex;
	color: #555555;
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
	justify-content: center;
	margin-top: -70px;
}

.left-text{
	margin-right: 12px;
}

.right-text{
	margin-left: 12px;
}


.team-slider{
	margin-top: 70px;
}

.team-list{
	display: flex;
	justify-content: space-between;
}

/*------------WORKER-------------*/

.worker{
	display: block;
	justify-content: center;
	text-align: center;
}

.worker-social{
	position: relative;
}

.worker-social:hover .tint{
	opacity: 0.5;
}

.worker-social:hover .socials-wrap{
	display: flex;
}


.worker img{
	width: 263px;
	height: 250px;
	margin-bottom: 20px;
}

.tint{
	height: 250px;
	width: 264px;
	position: absolute;
    left:0;
    bottom:0;
    right:0;
    top:0;
    background: #555555;
    opacity: 0;
    transition: 0.5s;
}

.socials-wrap{ 
	position: absolute;
	left:0;
    bottom:0;
    right:0;
    top:196px;
	display: flex;
	vertical-align: middle;
    justify-content: center;
    display:none;
}

.socials-wrap div {
	width: 28px;
	height: 28px;
	transition: 0.3s;
}

.socials-wrap div:hover {
	background-color: #c0301c;
}

.socials-wrap i{
	color: #fff;
	width: 17px;
	height: 16px;
	margin: 6px auto;
}

.worker-title{
	color: #555555;
	font-family: "Montserrat", sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
	text-transform: uppercase;
}

.worker p{
	color: #555555;
	font-size: 13px;
	font-weight: 400;
	line-height: 24px;
}

/*--------------latest works------------*/
.latest-works {
	padding-bottom: 75px; 
}


.tab-wrap {
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	margin-top: -40px;
}

.box-tab-cont {
	margin-top: 70px;
}

.all-works {
	display: flex;
	justify-content: space-between;
	padding-bottom: 25px;
}

.work-item{
	position: relative;
}

.work-item:hover .work-info{
	display: block;
}
.work-item:hover .work-tint{
	opacity: 0.7;
}

.work-tint {
	height: 320px;
	position: absolute;
	left:0;
    bottom:0;
    right:0;
    top:0;
    background: #c0301c;
    opacity: 0;
    transition: 0.5s;
}

.work-info {
	position: absolute;
	left:0;
    bottom:0;
    right:0;
    top: 0;
    text-align: center;	
    padding-top:106px;
    display: none;
}

.work-info .lg {
	color: #ffffff;
	font-family: Montserrat, sans-serif;
	font-size: 18px;
	font-weight: 400;
	line-height: 24px;
}

.work-info .dw {
	color: #ffffff;
	font-family: "Roboto Slab", sans-serif;
	font-size: 12px;
	font-weight: 400;
	line-height: 24px;
}

.work-info button {
	width: 100px;
	height: 38px;
	background-color: #ffffff;
	border: none;
	opacity: 0.6;
	transition: 0.4s;	
	margin: 25px auto;
	color: #c0301c;
	font-family: "Roboto Slab", sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
	text-transform: uppercase;
	letter-spacing: 1.4px;
}


.fa-angle-right{
	width: 16px;
	height: 10px;
	color: #c0301c;
}

.work-info button:hover{
	opacity: 1;

}

/*----------Project----------*/

.project {
	height: 369px;
	background: url("../img/bg.png") no-repeat center top; 
}

.text {
	text-align: center;
	padding-top: 90px;
}

.text p {
	color: #ffffff;
	font-family: "Roboto Slab", sans-serif;
	font-size: 30px;
	font-weight: 400;
	line-height: 44px;
}

.text button{
	width: 180px;
	height: 50px;
	border-radius: 2px;
	border: 2px solid #ffffff;
	background-color: transparent;
	margin-top: 53px;
	color: #ffffff;
	font-family: "Roboto Slab", sans-serif;
	font-size: 18px;
	font-weight: 400;
	line-height: 44px;
	text-transform: uppercase;
	transition: 0.5s;
}

.text button:hover {
	border: 2px solid rgba(255, 255, 255, 0);
}

/*-----------Blog--------*/
.blog{
	padding-bottom: 100px;
}

.post {
	display: flex;
}

.post:hover .post-title .lg{
	color: #c0301c;
}

.post:hover button{
	color: #c0301c;
}

.post:hover .post-title .dw span{
	color: #c0301c;
}


.post img {
	width: 40%;
}

.post-info {
	width: 60%;
	margin-left: 40px;
}

.post-info_header {
	display: flex;
}

.calendar{
	width: 76px;
	height: 76px;
	border: 2px solid #555555;
	text-align: center;
	color: #777777;
	font-family: Montserrat, sans-serif;
	font-size: 14px;
	font-weight: 700;
	line-height: 20px;
	text-transform: uppercase;
}

.calendar .ch{
	margin-top: 19px;
	font-size: 24px;
	letter-spacing: 2.4px;
}

.calendar .mth{
	letter-spacing: 1.4px;
}

.post-title{
	margin-left: 28px;
}

.post-title .lg{
	color: #555555;
	font-family: Montserrat, sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	text-transform: uppercase;
}

.post-title .dw {
	color: #777777;
	font-family: "Roboto Slab", sans-serif;
	font-size: 13px;
	font-weight: 400;
	font-style: italic;
	line-height: 24px;	
}

.post-title .dw span{
	color: #777777;
}

.post_text{
	color: #555555;
	font-family: "Roboto Slab";
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
	margin-top: 23px;
}


.post-info button{
	margin-top: 34px;
	background-color: transparent;
	border: none;
	color: #777777;
	font-family: "Roboto Slab", sans-serif;
	font-size: 13px;
	font-weight: 700;
	line-height: 24px;
	text-transform: uppercase;
	letter-spacing: 1.3px;
}

hr {
	margin: 35px;
	max-width: 1140px;
	height: 1px;
	background-color: #dddddd;
	border-style: none;
}

/*-----------Partners---------------*/

.partners{
	height: 477px;
	background-color: #f8f8f8;
}

.brands {
	display: flex;
	padding-top: 105px;
	margin-left: 100px;
	text-align: center;
}


.brands a{
	margin: 0 30px;
}

.quote {
	margin-top: 84px;
	text-align: center;
	color: #555555;
	font-family: "Roboto Slab", sans-serif;
	font-size: 18px;
	font-weight: 400;
	font-style: italic;
	line-height: 30px;
}

.author {
	text-align: center;
	margin-top: 40px;
	font-size: 20px;
}

/*----------contacts-----------*/

.contacts{
	padding-bottom: 100px;
}

.contacts-wrapper {
	display: flex;
}

.cont-item{
	display: flex;
	padding-bottom: 30px;
}

.cont-item i{
	width: 12px;
	height: 17px;
	font-size: 17px;
	line-height: 20px;
}

.cont-item div{
	margin-left: 17px;
	margin-top: -5px;
}

.cont-item h6{
	color: #555555;
	font-family: Montserrat, sans-serif;
	font-size: 14px;
	font-weight: 600;
	line-height: 30px;
	text-transform: uppercase;
}

.cont-item p {
	width: 250px;
	margin-top: 10px;
	color: #555555;
	font-family: "Roboto Slab", sans-serif;
	font-size: 12px;
	font-weight: 400;
	line-height: 20px;
}

/*------------form---------*/

form{
	margin-left: 90px;
}

.field{
	width: 350px;
	height: 44px;
	border: 1px solid #555555;
	border-radius: 3px;
	margin-left: 20px;
	margin-bottom: 20px;
	margin-top: 3px;
	font-size: 12px;
	padding-left: 15px;
	padding-right: 15px;
	color: #555555;
	font-family: "Roboto Slab", sans-serif;
}

.msg-field{
	width: 725px;
	height: 104px;
	border: 1px solid #555555;
	margin-left: 20px;
	border-radius: 3px;
	padding: 10px 15px;
	resize: none;
	overflow: auto;
	color: #555555;
	font-family: "Roboto Slab", sans-serif;
}

input::-webkit-input-placeholder{
	color: #dddddd
}

textarea::-webkit-input-placeholder{
	color: #dddddd
}


.bt{
	margin-left: 20px;
	margin-top: 20px;
	background-color: transparent;
	width: 170px;
	height: 44px;
	border: 1px solid #555555;
	border-radius: 3px;
	font-family: "Roboto Slab", sans-serif;
	font-size: 12px;
	font-weight: 400;
	line-height: 20px;
	text-transform: uppercase;
	letter-spacing: 0.6px;
	color: #555555;
}

.sent {
	display: flex;
}

.sent p{
	margin-top: 30px;
	margin-left: 38px;
	color: #555555;
	font-family: "Roboto Slab", sans-serif;
	font-size: 12px;
	font-weight: 400;
	line-height: 20px;
}

.sent span{
	color: red;
}

/*----------footer---------*/

footer {
	height: 307px;
	background-color: #c0301c;
	text-align: center;
}

.footer-wrap{
	background-color: #c0301c;
	padding-top: 100px;
}

.footer-socials{
	display: flex;
	width: 190px;
	margin-left: 470px;
	justify-content: space-between;
}

.footer-socials i{
	color: #ffffff;
}

.footer-socials div{
	width: 35px;
	height: 35px;
	border: 2px solid #ffffff;
	border-radius: 50%;
	text-align: center;
	padding-top: 7px; 
}

.footer-text{
	color: #ffffff;
}

.footer-text:before{
	content: "";
	display: block;
	width: 50px;
	height: 2px;
	margin: 25px auto 25px;
	background-color: #fff;
}

/*-----------------tabs------------*/

.nav-tab-list {
	list-style: none;
	text-align: center;
}

.nav-tab-list__item.active .nav-tab-list__link {
	color: #c0301c;
}

.nav-tab-list__item {
	display: inline-block;
	margin: 0 10px;
}

.nav-tab-list__link:hover {
	color: #c0301c;
}

.nav-tab-list__link {
	color: #555555;
}


.hide {
	position: absolute;
	left: 0;
	top: 0;
	height: 0;
	width: 0;
	overflow: hidden;
	z-index: -1;
	opacity: 0;
}

.tab-cont.hide {
	opacity: 0;
}